body{
    font-family: Arial;
    font-size:16px;
    margin:20px;
}
h1{
    color:#454545;
}
.menu{
    text-align:center;
    font-size:16px;
    font-weight: bold;
    text-transform: uppercase;
}
.menu a{
    color:#454545;
    text-decoration: none;
}
.menu a:hover{
    color:#ccc;
}
.footer{
    font-size:11px;
    text-align:center;
    background-color: #f8f8f8;
    padding:20px;
}